* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    
}

#cabecalho {
    background: url("FotoCabecalho.png"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 0vh;
    padding-bottom: 0vh;
    border-bottom: 15px solid #F4782D ;
}

@media (min-width:500px) {
    #cabecalho {
        padding-bottom: 20vh;
    }
    
}

@media (min-width:930px) {
    #cabecalho {
        padding-bottom: 20vh;
        
    }                                                                                          
    
}

#header-part1 {
   
 }

#header-logo img {
    width: 200px;
 }

 @media (min-width:930px) {
    #header-logo img {
        width: 250px;
    }
    
}

#menu-header {
    display: flex;
    flex-direction: column;
    width: 90px;
    padding-top: 30px;
    

 }

 @media (max-width:490px) {
    #menu-header {
        padding-bottom: 100px;
                                                                
    }
 }

 @media (min-width:1160px) {
    #menu-header {
        display: flex;
        flex-direction: row;
                                                                
    }
 }

.menu-header-link {
    
    text-decoration: none;
    color: #F4782D;
    padding-left: 20px;
    font-size: 28px;
    padding-bottom: 10px;
    
 }

 @media (min-width:930px) {
    .menu-header-link {
        font-size: 30px;
        
    }
    
}

 .menu-header-link:hover {
    text-decoration: underline;
    color: #5484D8;
 }

body {
       background-color: rgb(255, 255, 255);
       
}

#img2 {
    background:url("./imagensR2/Imagem02.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 0vh;
    padding-bottom: 50vh;
    border-bottom: 15px solid #F4782D ;
    
}

@media (min-width:1160px) {
    #img2 {
        background-size: 100% 100%;
        padding-top: 0vh;
        padding-bottom: 60vh;
    }
}


#img3 {
    background:url("./imagensR2/Imagem03.png");
     background-repeat: no-repeat;
     background-size: 100% 100%;
     padding-top: 0vh;
     padding-bottom: 50vh;    
     border-bottom: 15px solid #F4782D ;
}

@media (min-width:1160px) {
    #img3 {
        background-size: 100% 100%;
        padding-top: 0vh;
        padding-bottom: 60vh;

    }
}

#img4 {
    background:url("./imagensR2/Imagem04.jpg");
     background-repeat: no-repeat;
     background-size: 100% 100%;
     padding-top: 0vh;
     padding-bottom: 50vh;
     border-bottom: 15px solid #F4782D ;
}

@media (min-width:1160px) {
    #img4 {
        background-size: 100% 100%;
        padding-top: 0vh;
        padding-bottom: 60vh;
    }
}

#img5 {
    background:url("./imagensR2/Imagem05.jpg");
     background-repeat: no-repeat;
     background-size: 100% 100%;
     padding-top: 0vh;
     padding-bottom: 50vh;
     border-bottom: 15px solid #F4782D ;

}

@media (min-width:1160px) {
    #img5 {
        background-size: 100% 100%;
        padding-top: 0vh;
        padding-bottom: 60vh;
    }
}

#img6 {
    background:url("./imagensR2/Imagem06.jpg");
     background-repeat: no-repeat;
     background-size: 100% 100%;
     padding-top: 0vh;
     padding-bottom: 50vh;
     border-bottom: 15px solid #F4782D ;
}

@media (min-width:1160px) {
    #img6 {
        background-size: 100% 100%;
        padding-top: 0vh;
        padding-bottom: 60vh;
    }
}

#img7 {
    background:url("./imagensR2/Imagem07.jpg");
     background-repeat: no-repeat;
     background-size: 100% 100%;
     padding-top: 0vh;                                                                
     padding-bottom: 50vh;
     border-bottom: 15px solid #F4782D ;
}

@media (min-width:1160px) {
    #img7 {
        background-size: 100% 100%;
        padding-top: 0vh;
        padding-bottom: 60vh;
    }
}

#img8 {
    background:url("./imagensR2/Imagem.png");
     background-repeat: no-repeat;
     background-size: 100% 100%;
     padding-top: 0vh;
     padding-bottom: 0vh;
     border-bottom: 15x solid #F4782D ;
}

@media (min-width:1160px) {
    #img8 {
        background-size: 100% 100%;
        padding-top: 0vh;
        padding-bottom: 0vh;
    }
}


footer {
    padding-top: 10px;
}

#parte1-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0px 40px;
}

#parte1-footer h2 {
    border-left: 6px solid #F4782D;
}

.menu-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly; 
   padding: 20px;
    
}

.menu-footer-link {
    text-decoration: none;
    text-align: center;
}
.menu-footer-link:hover {
    text-decoration: underline;
}


#img9 {
    background:url("./imagensR2/imgfooter.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 0vh;
    padding-bottom: 20vh;
    border-bottom: 15px solid #F4782D ;
}

@media (min-width:950px) {
    #img9 {
        
        padding-top: 0vh;
        padding-bottom: 35vh;
    }
}